/* ADD POLLING PAGE CSS */
.main_div_addpoll{
    margin-top: 0;
    padding: 0;
    /* background-color: aqua; */
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
   
}
.poll_head{
    font-size: 3vmin;
    text-align: center;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    padding: 1%;
}
.second_main_div{
    width: 50%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10%;
    border-radius: 2%;
    /* border: 1px solid black; */
    /* background-color:beige; */

}
.textarea_div{
    width: 80%;
    height: 50px;
}
.submit_addpoll{
    background:linear-gradient( rgb(3, 19, 250), rgb(2, 129, 248));
    color: aliceblue;
    font-size: 3vmin;
    font-family: 'Times New Roman', Times, serif;
    border:none;
    border-radius: 10px;
    padding-left:15px ;
    padding-right: 15px;
}
.label_heading_addpoll{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
    text-align: center;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    padding: 1%;
}
.options_div_addpoll{
    width: 80%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    row-gap: 10px;
    /* background-color: rgb(186, 122, 39); */
}
@media (max-width: 1039px) {
    .options_div_addpoll{
        
        grid-template-columns: repeat(1,1fr);
        
    }
    
  }


/* POLLIST PAGE CSS */
.main_div_polllist{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: antiquewhite;
    padding-bottom: 5%;
    /* background-color: aqua; */
}
.second_main_div_pollist{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}
.accordion_div_pollist{
    width: 100%;
}
.input_field_polllist{
    display: flex;
    justify-content: space-evenly;
}
.input_poll_list_div{
    display: flex;
    flex-direction: column;
}
/* Styling the radio container */
.radio-container {
    display: flex;
    align-items: center;
  }
  
  /* Styling the radio input */
  .input_poll_list {
    position: relative;
    width: 20px; 
    height: 20px;
    margin-right: 5px; /* Add spacing between radio and label */
    position: relative;
    cursor: pointer;
  }
  .submit_div{
    background-color: rgb(62, 62, 246);
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    border:none;
    border-radius: 10px;
  }
  .submit_div:hover{
    background-color: rgb(102, 154, 250);
    color: black;
  }
  @media (max-width: 800px) {
    .input_field_polllist{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .input_poll_list_div{
        display: flex;
        flex-direction: row;
    }
    
  }


  /* LOGIN DUMMY PAGE */
  .not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .not-found-text {
    font-size: 6rem;
    font-weight: bold;
    animation: shake 0.5s infinite;
  }
  
  .not-found-message {
    font-size: 1.5rem;
  }
  
  /* @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  } */
  @keyframes shake {
    0%, 100% {
      color: black;
      background-color: transparent;
    }
    50% {
      padding-left: 5px;
      padding-right: 5px;
      color:  red;
    }
  }
  
  .red-alert {
    margin-top: 20px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    animation: redAlert 2s infinite;
  }
  
  
  
  